*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  position: absolute;
  top: 2rem;
  left: 50%;
  translate: 0 -50%;
}

#cy {
  width: 100vw;
  height: 100vh;
  display: block;
  outline: 5px solid firebrick;
}